body {
    font-family: sans-serif;
    margin: 0 1em;
    color: #333;
    background: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    font-weight: normal;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
h1 {
    justify-content: space-between;
    font-size: 2rem;
}

h1 .ja {
    color: #666;
    font-size: 1rem;
    font-weight: normal;
}

main {
    max-width: 50rem;
    margin: 0 auto;
}

.meta {
    font-size: 80%;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.meta span {
    margin-right: 1rem;
}

ul.pages {
    list-style: none;
    padding: 0;
}

ul.pages li {
    padding: 1rem 0;
}
    
